# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pyc
test
test.js
ps_test.csv
testfile.txt
testfile.py
test34.py
test_csv.csv
PREORDER AGD.csv
PREORDER AGD2.csv
agdpo.csv
gtspo.csv
gtspo2.csv
batch_create.csv
cw.csv
ABORTED PROCEEDURE.csv
*.csv
GW.xls
kwargs test.py
kwargs_test.py
tcgplayer.py
soupclass811.py
test.py
barcodes.txt
listmod.py
*.csv#
amazon_auto_main.py
amazon_auto.py
asin_update_test.py
bcode_dlt.py
prog_bar.py
csv_export.py
role4initiative.py
csv_export2.py
export_csv3.py
TEST DIR/1113206.jpg
barcodes_6-7.txt
